<h1>Pokemon catalogue</h1>
<main class="main">
    <button (click)="toTrainer()"> To Trainer</button>
    <div class="list">
        <ul>
            <li *ngFor="let item of pokemons.results | paginate: { itemsPerPage: 20, currentPage: page }">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{item.url.split('pokemon/').pop().split('/')[0]}}.png">
                <b>{{ item.name }} </b>
                <span *ngIf="alreadyCaught(item.name)">(Already caught!)</span>
                <button (click)="onCatch(item.name)" [disabled]="alreadyCaught(item.name)">Catch</button>
            </li>
        </ul>
    
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

</main>


